@tailwind base;
@tailwind components;
@tailwind utilities;

.page-title {
  @apply text-3xl text-green-900;
}

input {
  @apply border border-gray-200;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.whatsapp {
  @apply bg-green-600 rounded-full text-white p-4 text-2xl w-24 h-24 items-center justify-center;
}
